<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AppliDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServeletConfigurationwebXML</display-name>
    <servlet-name>FirstServeletConfigurationwebXML</servlet-name>
    <servlet-class>fr.eni.javaee.module2.FirstServeletConfigurationwebXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServeletConfigurationwebXML</servlet-name>
    <url-pattern>/FirstServeletConfigurationwebXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServletConfigurationAnnotation</display-name>
    <servlet-name>FirstServletConfigurationAnnotation</servlet-name>
    <servlet-class>fr.eni.javaee.module2.FirstServletConfigurationAnnotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServletConfigurationAnnotation</servlet-name>
    <url-pattern>/FirstServletConfigurationAnnotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReadURL</display-name>
    <servlet-name>ServletReadURL</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletReadURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReadURL</servlet-name>
    <url-pattern>/ServletReadURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReadHead</display-name>
    <servlet-name>ServletReadHead</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletReadHead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReadHead</servlet-name>
    <url-pattern>/ServletReadHead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReadTheHeader</display-name>
    <servlet-name>ServletReadTheHeader</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletReadTheHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReadTheHeader</servlet-name>
    <url-pattern>/ServletReadTheHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLectureParametres</display-name>
    <servlet-name>ServletLectureParametres</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletLectureParametres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLectureParametres</servlet-name>
    <url-pattern>/ServletLectureParametres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPermanentRedirection</display-name>
    <servlet-name>ServletPermanentRedirection</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletPermanentRedirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPermanentRedirection</servlet-name>
    <url-pattern>/ServletPermanentRedirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTemporaryRedirection</display-name>
    <servlet-name>ServletTemporaryRedirection</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletTemporaryRedirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTemporaryRedirection</servlet-name>
    <url-pattern>/ServletTemporaryRedirection</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/modules/module2/demonstrations/erreur500.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ServletSendError500</display-name>
    <servlet-name>ServletSendError500</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletSendError500</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSendError500</servlet-name>
    <url-pattern>/ServletSendError500</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIllegalStateException</display-name>
    <servlet-name>ServletIllegalStateException</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletIllegalStateException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIllegalStateException</servlet-name>
    <url-pattern>/ServletIllegalStateException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletWithParamsStartWebXML</display-name>
    <servlet-name>ServletWithParamsStartWebXML</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletWithParamsStartWebXML</servlet-class>
    <init-param>
    	<description>A parameter of initialisation</description>
    	<param-name>NAME_PARAMETER</param-name>
    	<param-value>VALUE_PARAMETER</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWithParamsStartWebXML</servlet-name>
    <url-pattern>/ServletWithParamsStartWebXML</url-pattern>
  </servlet-mapping>
</web-app>